/*app.blade*/
#m6logo {
    width: 80px; 
    height: 80px;"
    border-radius: 50%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

#m6logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.startPageBody{
	background-image: url('http://wallpapercave.com/wp/GProxpt.jpg');
}


/*login.blade*/
#editingPannel{
	background-color: rgba(0, 0, 0, 0.43); color: white;
}


/*main.blade*/
section{
	top: 51px;
	position: relative;
	float: center;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* adds animation for all transitions */
  
  -webkit-transition: .011s ease-in-out;
  -moz-transition: .011s ease-in-out;
  -o-transition: .011s ease-in-out;
  transition: .011s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

#navBtn {
	position: absolute;
	opacity: 0;
}

#home_component {
	text-align: justify;
	margin-left: 5%;
	margin-right: 2%;
}

@media (max-width: 688px) {
	#home_component {
		text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
	}

	#menu_Items{
		text-align: center;
		margin: 0 auto;
		background-color: #C3C2C2;
	}

	#menu_Items a{
		color: white;
	}

	#logout, #profile_anchor, #upperprofname, #profname{
		display:none;
	}

	#prof-edit{
		width: calc(50% + 100px);
	}

}


/*new*/
@media (max-height: 1280px) and (min-width: 800px) {
	#home_component {
		text-align: justify;
		margin-left: 10%;
		margin-right: 5%;
	}

	#menu_Items{
		text-align: center;
	}

	#key_menu{
		display: none;
	}
}

@media (max-height: 1024px) and (min-width: 768px) {
	#home_component {
		text-align: justify;
		margin-left: 10%;
		margin-right: 5%;
	}

	#menu_Items{
		text-align: center;
	}


	#key_menu{
		display: none;
	}
}

@media (max-width: 2560px) and (min-width: 1600px) {
	#key_menu{
		display: none;
	}
}

@media  (min-height: 1366px) and (max-width: 1024px) {
	#key_menu{
		display: none;
	}
}

@media  (min-height: 414px) and (max-width: 736px) {
	#logout, #profile_anchor, #profname{
		display: none;
	}
}

@media  (min-height: 412px) and (max-width: 732px) {
	#logout, #profile_anchor, #profname{
		display: none;
	}
}


nav.sidebar, section{
	-webkit-transition: 350ms ease-in-out;
	-moz-transition: 350ms ease-in-out;
	-o-transition: 350ms ease-in-out;
	transition: 350ms ease-in-out;
}

nav.sidebar.toggled{
	left: 150px;
}

.top-sub-menu{
	background-color: #B0C4DE;
	color: white;
	cursor:pointer; 
	padding-left: 10px;
}

.top-sub-menu:hover{
	color: teal;
}

#sidetest{
	top: 51px;
	background-color: #363839;
	color: white;
}

#sidetest.toggled{
	left: 150px;
}

#sidetest.start{
	left: 0px;
}

#sidetest.complement{
	padding-left: 0px;
}

#sidetest.resort{
	margin-left: -150px;
}

#bs-sidebar-navbar-collapse-1{
	padding: 0px; 
	overflow: hidden; 
	text-align: center;
}

#profile_anchor{
	height: 55px; 
	width: 60px;
}

#profile_pic{
	height:120%;
	width: 120%;
}

#profile2{
	height:50%;
	width: 50%;
	margin-left: 40px;
	border: 3px solid;
}

#top_logout_icon{
	font-size:26px;
	color: red;
}

#upperprofname{
	padding-left: 0px;
	cursor:pointer;
}

#profile_anchor{
	padding-top: 10px;
	height: 50px;
}

#profile_anchor.changed, #upperprofname.changed{
	background-color: #363839;
}

#menu-toggle{
	cursor: pointer;
}
#top_menu{
	position: absolute;
	top: 0px;
	right: 0px;
}

#prof-edit{
	width:100%;
}

#prof-edit.resize{
	width:100%;
}

#menu_Items li:hover{
	background-color: white;
	color: black;
}

.bubble {
	top: 49px;
	left: -15px;
	width: 100%;
	padding: 0px;
	background: #B0C4DE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #B0C4DE transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 42%;
}

#separateForm1{
	top: 51px; 
	right: 15px; 
	width: 100%; 
	margin: 0 auto; 
	background-color: #363839; 
	color: whtie; 
	padding-bottom: 1px; 
}

#logout-form{
	display: none;
}

section.move{
	padding-left: 150px;
}

section.retract{
	padding-left: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

section.resize{
	left: 150px;
	margin-right: 10%;
}

section.drop{
	margin-top:220px;
}


/*home.blade*/
.edit_Prof_IMG{
	width: 150px; 
	height:150px; 
	border-radius: 50%;
}

